.App{
    width: 90%;
    margin: 0 auto;
}
.newsContainer{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.card{
    margin: 0.5em 0;
}
input, select{
    margin: 0.5em 0;
}
